h1, h3{
    font-family: sans-serif;
    font-weight: bold;
    color: palevioletred;
    background-color: aliceblue;
}

.main, h5{
    background-color: aliceblue;
    font-family: sans-serif;
    color:black;
}

.secondary{
    background-color: aliceblue;
    color: palevioletred;
    font-family: sans-serif;

}

body{
    background-color: burlywood;
}