h1{
    font-family: sans-serif;
    font-weight: bold;
    color: palevioletred;
}

.main{
    background-color: aliceblue;
    font-family: sans-serif;
}

.secondary{
    background-color: aliceblue;
    color: palevioletred;
    font-family: sans-serif;
    
}

body{
    background-color: burlywood;
}